# --- CONFIGURACIÓN DE LA APLICACIÓN ---
PORT=3000

# --- CONFIGURACIÓN DE BASE DE DATOS (POSTGRESQL) ---
# Esta es la URL que usará Prisma para conectarse a la DB dentro de Docker.
# Estructura: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=public
DATABASE_URL="postgresql://user:password@db:5432/my_db?schema=public"

# Datos individuales (Útiles si tu código los usa por separado)
DB_USER=user
DB_PASSWORD=password
DB_NAME=my_db
DB_HOST=db
DB_PORT=5432
